body {
background-color: #0C025E;
margin:0;
font-family: 'Space Mono', monospace;
}

p{
  font-size: 30px;
  color:white;
  margin-top:5vh;

}

.animation-floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* .animation-scale {
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scale {
    to { transform: scale(.75); }
    from { transform: scale(.75); }
  } */

@keyframes floating {
    0 { transform: translate(0,  0px); }
    49.9% { transform: translate(0, 0px); }
    50% { transform: translate(0, 10px); }
    99.9% { transform: translate(0, 10px); }
    100% { transform: translate(0, 0px); }
  }


.landing {
  background-color: #000;
  height:100vh;
  background-position: center;
}
.landing-letters{
  display:flex;
  transform:scale(1);
  padding-top:20vh;
  margin:0 auto;
  width: 80%;
  animation: floating 2s infinite;
}
@keyframes floating {
    0 { transform: translate(0,  0px); }
    49.9% { transform: translate(0, 0px); }
    50% { transform: translate(0, 10px); }
    99.9% { transform: translate(0, 10px); }
    100% { transform: translate(0, 0px); }
  }

.sublanding-letters{
  padding-top:15vh;
  transform: scale(.60);
  display:flex;
  margin:0 auto;
  width: 80%;
  animation: blink 2s infinite;
}
@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

#S-sublanding, #C-sublanding, #R-sublanding, #O-sublanding, #A-sublanding  {
  grid-template-columns: 1vw 1vw 1vw 1vw;
	grid-template-rows: 1vw 1vw 1vw 1vw 1vw;
}
#L-sublanding {
  grid-template-columns: 1vw 1vw 1vw;
  grid-template-rows: 1vw 1vw 1vw 1vw 1vw;
 }

#T-sublanding {
  grid-template-columns: 1vw 1vw 1vw 1vw 1vw;
  grid-template-rows: 1vw 1vw 1vw 1vw 1vw;
 }

 #space-sublanding {
   grid-template-columns: 1vw;
   grid-template-rows: 1vw 1vw 1vw 1vw 1vw;
  }

.level-1{
  background-color: #0C025E;
  width:100vw;
  height:100vh;
  background-position: center;
}


.level-1-letters{
  display: flex;
  margin:10vh auto;
  margin-bottom: 0;
  width: 80%;
  transform: scale(.75);
  box-sizing: border-box;
}


.letter-5 {
	position: relative;
	margin: 10px;

	display: grid;
	float: left;

	grid-template-columns: 3vw 3vw 3vw 3vw 3vw;
	grid-template-rows: 3vw 3vw 3vw 3vw 3vw;
}

.letter-4 {
	position: relative;
	margin: 10px;

	display: grid;
	float: left;

	grid-template-columns: 3vw 3vw 3vw 3vw;
	grid-template-rows: 3vw 3vw 3vw 3vw 3vw;

}

.letter-3 {
	position: relative;
	margin: 10px;

	display: grid;
	float: left;

	grid-template-columns: 3vw 3vw 3vw;
	grid-template-rows: 3vw 3vw 3vw 3vw 3vw;
}

.letter-2 {
	position: relative;
	margin: 10px;

	display: grid;
	float: left;

	grid-template-columns: 3vw 3vw;
	grid-template-rows: 3vw 3vw 3vw 3vw 3vw;
}

.letter-1 {
	position: relative;
	margin: 10px;

	display: grid;
	float: left;

	grid-template-columns: 3vw;
	grid-template-rows: 3vw 3vw 3vw 3vw 3vw;
}

/* letter pieces */
.letter-5 div {
	background: yellow;
}

.letter-5 div.empty {
	background: transparent;
}

.letter-4 div {
	background: yellow;
}

.letter-4 div.empty {
	background: transparent;
}

.letter-3 div {
	background: yellow;
}

.letter-3 div.empty {
	background: transparent;
}

.letter-2 div {
	background: yellow;
}

.letter-2 div.empty {
	background: transparent;
}

.letter-1 div {
	background: yellow;
}

.letter-1 div.empty {
	background: transparent;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
