body{
  background-color: #FAACA8;
  background-image: linear-gradient(0deg, #FAACA8 0%, #DDD6F3 100%);
  background-repeat: no-repeat;
    font-family: maple-web, sans-serif;
}

p{
}

a{
  padding: 15px;
  line-height: 2em;
  max-width: 25px;

}

.column {
    float: left;
    width: 33%;
    max-width: 600px;
}


img{
  width: 90%;
  max-width: 600px;
  border-radius: 50%;
  padding: 100px;
}
