body{
  background-color: #FAACA8;
  background-image: linear-gradient(0deg, #FAACA8 0%, #DDD6F3 100%);
  background-repeat: no-repeat;
  margin:150px auto  200px  610px;
    font-family: maple-web, sans-serif;
}

p{
}
