body {
  font-family: 'Josefin Slab', serif;
  background: #a3c6ff;
  color: #2d294d
  margin-left: 200px;
  margin-right: 200px
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: #373fff;
}

img {
  width: 100%;
}

.center-align {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
