body {
  font-family: 'Josefin Slab', serif;
  background: #a3c6ff;
  /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.text-block {
  width: 960px;
  margin: 20px auto 20px auto;
}
.imagery-block {
  width: 960px;
  margin: 20px auto
  }

}


h1 {
  font-family: 'Josefin Slab', serif;
  font-style: bold;
  color: #373fff;
  font-size: 50px;
}

h2 {
  font-size: h1;
  font-style:regular;
}

h1, h2 {
  width: 50%;
  height: 60px;
  margin: 3px;
  padding: auto;
  display: inline;
}​

p {
  max-width: 800px;
}

img {
  width: 100%;
}

.two-column {
  margin-top: 40px;
  margin-bottom: 40px;
}
.two-column img {
  width: 50%;
  float: left;
}

.two-column::after {
  content: "";
  clear: both;
  display: table;
}



.center-align {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
