body {
  font-family: 'Josefin Slab', serif;
  background: "#a3c6ff";
  color: "#279681";
  margin-left: 200px;
  margin-right: 200px
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: #373fff;
}
