body {
  margin:0;
  font-family: farm-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(158,196,255);
  background: linear-gradient(180deg, rgba(158,196,255,1) 0%, rgba(169,166,255,1) 33%, rgba(255,166,166,1) 66%, rgba(255,224,113,1) 100%);
  padding-bottom:-100px;
}
.container .box {
  width:80vw;
  height:100vh;
  display:inline-block;
  position:relative;
}
.container .box > div {
  width:100px;
  height:100px;
}

.container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  width:100vh;
  height:100vw;
}
.container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
}

/* .container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
.container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
} */

.text{
  height: 100vh;
  width: 100vh;
  background-color: #FFF;
  opacity: 50%;
  display: inline-block;
}
h1{
color: #201859;
font-size: 50px;
line-height: 1.6;
position: absolute;
top:0px;
left: 100px;
white-space: pre-wrap;
}


p{
color: #201859;
font-size: 20px;
max-width: 550px;
width: 500px;
line-height: 1.6;
position: absolute;
top:125px;
left: 100px;
white-space: pre-wrap;


/* TIMELINE PNGS */

}
.onepart1 {
  background-image: url("tutu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.twopart1 {
  background-image: url("jigoku.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.threepart1 {
  background-image: url("pika.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.onepart2 {
  background-image: url("fushigi.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.threepart2 {
  background-image: url("cardsaku.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.fourpart2 {
  background-image: url("cardsaku2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-size:65vh;
}

/* VERTICAL SCROLL SECTIONS */


#content{
	width: 100%;
	height:  100%;
	display: flex;
	flex-direction: column;


}

.containerp1-1 {
	background-image:url('tutu.jpg');
	width: 100%;
	height: 956.4px;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.containerp1-2 {
	background-image:url('jigoku.gif');
  background-position: center;
	width: 100%;
	height: 956.4px;
	position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

  .containerp1-3 {
  	background-image:url('pika.gif');
    background-position: center;
  	width: 100%;
  	height: 956.4px;
  	position: center;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  }

  .containerp2-1 {
  	background-image:url('fushigi2.jpg');
  	width: 100%;
  	height: 956.4px;
  	position: relative;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  }
  .containerp2-2 {
    background-image:url('cardsaku.jpg');
    width: 100%;
    height: 956.4px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .vertical-center {
  display: table;
  height: 100%;
  width: 100%;
}





/*
.scroll-full {
  background-size: cover;
} */

/* .scroll-vertical-p1-i1 {
  min-height: 100vh;
  position: relative;
  background-image: url(tutu.jpg);
} */

/* Translating the content's X ruines the scrollbar length. */
/*
#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
}
*/
