body {
  margin:0;
  font-family: farm-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E66F86;
}
.container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}
.container .box > div {
  width:100px;
  height:100px;
}

.container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width:100vh;
  height:100vw;
}
.container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}


  .text p{
  color: white;
  font-size: 20px;
  max-width: 550px;
  width: 500px;
  line-height: 1.6;
  position: absolute;
  top:100px;
  left: 100px;
  white-space: pre-wrap;



}
.one {
  background-image: url("tutu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.two {
  background-image: url("jigoku.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.three {
  background-image: url("pika.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}




#content{
	width: 100%;
	height:  100%;
	display: flex;
	flex-direction: column;


}

.containerp2-1 {
	background-image:url('tutu.jpg');
	width: 100%;
	height: 956.4px;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.containerp2-2 {
	background-image:url('jigoku.gif');
  background-position: center;
	width: 100%;
	height: 956.4px;
	position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

  .containerp2-3 {
  	background-image:url('pika.gif');
    background-position: center;
  	width: 100%;
  	height: 956.4px;
  	position: center;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  }

  .vertical-center {
  display: table;
  height: 100%;
  width: 100%;
}





/*
.scroll-full {
  background-size: cover;
} */

/* .scroll-vertical-p1-i1 {
  min-height: 100vh;
  position: relative;
  background-image: url(tutu.jpg);
} */

/* Translating the content's X ruines the scrollbar length. */
/*
#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
}
*/
