body {
  margin:0;
  font-family: farm-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(158,196,255);
  background: linear-gradient(180deg, rgba(158,196,255,1) 0%, rgba(169,166,255,1) 33%, rgba(255,166,166,1) 66%, rgba(255,224,113,1) 100%);
}

#snap-scroll {
scroll-snap-type: y mandatory;
}

#landing {
    scroll-snap-align: start;
}

#first #second #third #fourth #fifth #sixth {
    scroll-snap-align: center;
}


.horizontal-scroll {
  width:100vw;
  height:100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;

}

/* UPDATED TRANSPARENT IMAGES HORIZONTAL SCROLL */

.part1item1 {
  word-wrap:break-word;
  scroll-snap-align: center;
  width:25vw;
  height:100vh;
  display: inline-block;
}


.part1item2 {

  background-image: url("tutu.png");
  background-repeat: no-repeat;
  background-size:  contain;
  background-size: 55vh;
  background-position: center;
  /* scroll-snap-align: center; */
  width:100%;
  height:100vh;
  display: inline-block;
}

.part1item3 {
  background-image: url("jigoku.png");
  background-repeat: no-repeat;
  background-size:  contain;
  background-size: 70vh;
  background-position: bottom;
  scroll-snap-align: center;
  width:100%;
  height:100vh;
  display: inline-block;
}

.part1item4 {
  background-image: url("pika.png");
  background-repeat: no-repeat;
  background-size:  95vh;
  background-position: center;
  scroll-snap-align: center;
  width:100%;
  height:100vh;
  display: inline-block;
}

.part2item2 {
  background-image: url("fushigi.png");
  background-repeat: no-repeat;
  background-size:  65vh;
  background-position: bottom;
  /* scroll-snap-align: center; */
  width:100%;
  height:100vh;
  display: inline-block;
}

.part2item3 {
  background-image: url("cardsaku2.png");
  background-repeat: no-repeat;
  background-size:  60vh;
  background-position: center;
  scroll-snap-align: center;
  width:100%;
  height:100vh;
  display: inline-block;
}


.part2item4 {
  background-image: url("cardsaku.png");
  background-repeat: no-repeat;
  background-size:  95vh;
  background-position: bottom;
  scroll-snap-align: center;
  width:100%;
  height:100vh;
  display: inline-block;
}


.part3item2 {
  background-image: url("naruto.png");
  background-repeat: no-repeat;
  background-size:  70vh;
  background-position: center;
  /* scroll-snap-align: start; */
  width:100%;
  height:100vh;
  display: inline-block;
}

.part3item3 {
  background-image: url("death.png");
  background-repeat: no-repeat;
  background-size:  55vh;
  background-position: center;
  scroll-snap-align: center;
  width:100%;
  height:100vh;
  display: inline-block;
}


.part3item4 {
  background-image: url("doremi.png");
  background-repeat: no-repeat;
  background-size:  95vh;
  background-position: center;
  scroll-snap-align: center;
  width:100%;
  height:100vh;
  display: inline-block;
}


.text{
  height: 100vh;
  width: 50vw;
  background-color: #FFF;
  opacity: 50%;
  display: inline-block;
  float:left;
}
h1{
padding-top:10%;
color: #201859;
font-size: 50px;
line-height: bottom 1.6;
top:0px;
left: 100px;
white-space: pre-wrap;
margin-left: 10%;
margin-right:5%;
}

p{
color: #201859;
font-size: 20px;
max-width: 45vw;
width: 500px;
line-height: 1.6;
top:125px;
left: 100px;
white-space: pre-wrap;
margin-left: 10%;
}



/* VERTICAL SCROLL SECTIONS */

.vertical-center {
display: table;
height: 100%;
width: 100%;
}

.content{
	width: 100%;
	height:  100%;
	display: flex;
	flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: scroll;

}
.container-landing {
  background-image:url('landing.gif');
  width: 100%;
  height: 956.4px;
  max-height: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.containerp1-1 {
	background-image:url('tutu.jpg');
	width: 100%;
	height: 956.4px;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.containerp1-2 {
	background-image:url('jigoku2.jpg');
  background-position: center;
	width: 100%;
	height: 956.4px;
	position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

  .containerp1-3 {
  	background-image:url('pokemon2.jpg');
    background-position: center;
  	width: 100%;
  	height: 956.4px;
  	position: center;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  }


  .containerp2-1 {
  	background-image:url('fushigi2.jpg');
  	width: 100%;
  	height: 956.4px;
  	position: relative;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  }
  .containerp2-2 {
    background-image:url('cardsaku.jpg');
    width: 100%;
    height: 956.4px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .containerp3-1 {
    background-image:url('naruto.jpg');
    width: 100%;
    height: 956.4px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  .containerp3-2 {
    background-image:url('death.jpg');
    width: 100%;
    height: 956.4px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .containerp3-3 {
    background-image:url('doremi.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
