body {
        background: white;
          animation: change-pulse 2s infinite;
          animation-direction: alternate;

        }

        @keyframes change-pulse {
          0% {
            background-color: #a1ffce;
          }
          100% {
            background-color: #fff08c;
          }

        }

img{
  max-width:600px;
  margin-left: 0px;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #a1ffce;
}
#desktop {
    display: inline;
    color: white;
    position:relative;
}
#tablet,
#mobile,
#print,
#smallest {
    display: none;
}

#head{
  position:absolute;
  top:10px;
  left:5px;
  animation: wiggle 2s infinite;
  animation-direction:alternate;
  transform-origin: bottom, right;
  animation-timing-function: ease-in-out;
  z-index: 2;
  }
  @keyframes wiggle {
      0% { transform: rotate(-15deg); }
    100% { transform: rotate(20deg); }
}

#base{
  position:absolute;
  z-index: 1;
}

/* tablet */
@media (min-width: 800px) and (max-width: 1024px) {
    body {
        background: #a1ffce;
    }
    #tablet {
        display: inline;
        color: #8debbb;
    }
    #desktop,
    #mobile,
    #print,
    #smallest {
        display: none;
    }
}
/* mobile */
@media (min-width:600px) and (max-width: 800px) {
    body {
        background: #a1ffce;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print,
    #smallest {
        display: none;
    }
}

@media (max-width: 600px) {
    body {
        background: #a1ffce;
    }
    #smallest {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print,
    #mobile {
        display: none;
    }
}

/* print */
@media print {
    body {
        background: #a1ffce;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #mobile,
    #smallest {
        display: none;
    }
}
