img{
  max-width:600px;
  margin-left: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: white;
}
#desktop {
    display: inline;
    color: white;
}
#tablet,
#mobile,
#print,
#smallest {
    display: none;
}
/* tablet */
@media (min-width: 800px) and (max-width: 1024px) {
    body {
        background: white;
    }
    #tablet {
        display: inline;
        color: white;
    }
    #desktop,
    #mobile,
    #print,
    #smallest {
        display: none;
    }
}
/* mobile */
@media (min-width:600px) and (max-width: 800px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print,
    #smallest {
        display: none;
    }
}

@media (max-width: 600px) {
    body {
        background: white;
    }
    #smallest {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print,
    #mobile {
        display: none;
    }
}

/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #mobile,
    #smallest {
        display: none;
    }
}
