
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        top:50%;
        left:50%;
        background: #fcea72;
}

/* shapes */


#right-triangle {
        width: 90px;
        height: 80px;
        background: #bc96ff;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        position: absolute;
        top: 0px;
        right: 0px;
}

#right-triangle-inner {
        width: 55px;
        height: 45px;
        background: #ffbabb;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        position: absolute;
        top: 35px;
        right: 13px;
}

#left-triangle{
  width: 90px;
  height: 80px;
  background: #bc96ff;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}

#left-triangle-inner {
        width: 55px;
        height: 45px;
        background: #ffbabb;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        position: absolute;
        top: 35px;
        left: 13px;
}

#rectangle{

  width: 500px;
  height:220px;
  background: #bc96ff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0px;

}

#left-eye{

  width: 75px;
  height:70px;
  background: #3f2b63;
  clip-path: polygon(0 20%, 100% 0, 100% 15%, 0 35%);
  position: absolute;
  left: 110px;
  top: 140px;

}
#right-eye{

  width: 75px;
  height:71px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 20%, 100% 35%, 0 15%);
  position: absolute;
  right: 110px;
  top: 140px;

}

#nose{
  width: 70px;
  height:30px;
  background: #ffbabb;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 180px;
  left:215px;
}

#left-nostril{
  width: 10px;
  height:10px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 190px;
  left:230px;
}

#right-nostril{
  width: 10px;
  height:10px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 190px;
  right:230px;
}
#line-mouth{
  width: 8px;
  height:45px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 210px;
  left:245px;
}

#mouth{
  width: 80px;
  height:8px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 250px;
  left:210px;
}

#right-eyebrow{
  width: 50px;
  height:50px;
  background: #ffbabb;
  clip-path: ellipse(50% 35% at 50% 50%);
  position: absolute;
  right: 125px;
  top: 90px;
}

#left-eyebrow{

  width: 50px;
  height:50px;
  background: #ffbabb;
  clip-path: ellipse(50% 35% at 50% 50%);
  position: absolute;
  left: 120px;
  top: 90px;

}


#rectangle-original {
        width: 150px;
        height: 150px;
        background: red;
        border-radius: 50px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);

        /* position the circle in the center of the flag */
        position: absolute;
        top: 75px;
        left: 175px;
}
