
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
}

/* shapes */

#right-triangle {
        width: 90px;
        height: 80px;
        background: plum;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        position: absolute;
        top: 0px;
        right: 0px;
}

#left-triangle{
  width: 90px;
  height: 80px;
  background: plum;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}

#rectangle{

  width: 500px;
  height:220px;
  background: plum;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0px;

}

#left-eye{

  width: 75px;
  height:70px;
  background: black;
  clip-path: polygon(0 20%, 100% 0, 100% 15%, 0 35%);
  position: absolute;
  left: 110px;
  top: 150px;

}
#right-eye{

  width: 75px;
  height:71px;
  background: black;
  clip-path: polygon(0 0, 100% 20%, 100% 35%, 0 15%);
  position: absolute;
  right: 120px;
  top: 150px;

}

#nose{
  width: 70px;
  height:30px;
  background: lightpink;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 170px;
  left:207px;
}

#left-nostril{
  width: 10px;
  height:10px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 180px;
  left:220px;
}

#right-nostril{
  width: 10px;
  height:10px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 180px;
  right:238px;
}
#line-mouth{
  width: 8px;
  height:45px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 200px;
  left:237px;
}
#mouth{
  width: 80px;
  height:8px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 240px;
  left:203px;
}

https://bennettfeely.com/clippy/

#rectangle-original {
        width: 150px;
        height: 150px;
        background: red;
        border-radius: 50px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);

        /* position the circle in the center of the flag */
        position: absolute;
        top: 75px;
        left: 175px;
}
