
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: white;
          animation: pulse 5s infinite;
          animation-direction: alternate;

        }

        @keyframes pulse {
          0% {
            background-color: #ffba66;
          }
          100% {
            background-color: #89ff6b;
          }

        }

#element {
  animation: pulse 5s infinite;
  animation-direction: alternate;

}



/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:200px;
        background:white;
}

/* shapes */


#right-triangle {
        width: 90px;
        height: 80px;
        background: #bc96ff;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        position: absolute;
        top: 0px;
        right: 0px;
}

#right-triangle-inner {
        width: 55px;
        height: 45px;
        background: #ffbabb;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        position: absolute;
        top: 35px;
        right: 13px;
}

#left-triangle{
  width: 90px;
  height: 80px;
  background: #bc96ff;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}

#left-triangle-inner {
        width: 55px;
        height: 45px;
        background: #ffbabb;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
        position: absolute;
        top: 35px;
        left: 13px;
}

#rectangle{

  width: 500px;
  height:220px;
  background: #bc96ff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0px;

}

#left-eye{

  width: 75px;
  height:45px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 20%);
  position: absolute;
  left: 110px;
  top: 142px;

}
#right-eye{

  width: 75px;
  height:45px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 20%);
  position: absolute;
  right: 110px;
  top: 142px;

}

#nose{
  width: 70px;
  height:30px;
  background: #ffbabb;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 180px;
  left:215px;
}

#left-nostril{
  width: 10px;
  height:10px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 190px;
  left:230px;
}

#right-nostril{
  width: 10px;
  height:10px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 190px;
  right:230px;
}
#line-mouth{
  width: 8px;
  height:45px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 210px;
  left:245px;
}

#mouth{
  width: 80px;
  height:8px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 250px;
  left:210px;
}

#right-eyebrow{
  width: 40px;
  height:30px;
  background: #ffbabb;
  clip-path: ellipse(50% 50% at 50% 50%);
  position: absolute;
  right: 125px;
  top: 95px;
}

#left-eyebrow{

  width: 40px;
  height:30px;
  background: #ffbabb;
  clip-path: ellipse(50% 50% at 50% 50%);
  position: absolute;
  left: 125px;
  top: 95px;

}

#fish-body{
  width: 70px;
  height:25px;
  background: #66cfff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 27px;
  left:207px;
}

#fish-eye{
  width: 7px;
  height:7px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 32px;
  left:217px;
}

#fish-tail{
  width: 20px;
  height:20px;
  background: #66cfff;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  position: absolute;
  top: 30px;
  left:277px;

}

#left-whisker-1{
  width: 100px;
  height:8px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 230px;
  left:360px;
  transform: rotate(20deg);
  animation: wiggle-l1 2s infinite;
}

@keyframes wiggle-l1 {
    0% { transform: rotate(20deg); }
   40% { transform: rotate(10deg); }
   75% { transform: rotate(5deg); }
  100% { transform: rotate(20deg); }
}

#left-whisker-2{
  width: 100px;
  height:8px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 180px;
  left:360px;
  transform: rotate(-20deg);
  animation: wiggle-l2 2s infinite;
}

@keyframes wiggle-l2 {
    0% { transform: rotate(-20deg); }
   40% { transform: rotate(-10deg); }
   75% { transform: rotate(-5deg); }
  100% { transform: rotate(-20deg); }
}


#right-whisker-1{

  width: 100px;
  height:8px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 230px;
  right:360px;
  transform: rotate(-20deg);
  animation: wiggle-r1 2s infinite;

  }
  @keyframes wiggle-r1 {
      0% { transform: rotate(-20deg); }
     40% { transform: rotate(-10deg); }
     75% { transform: rotate(-5deg); }
    100% { transform: rotate(-20deg); }
}
#right-whisker-2{
  width: 100px;
  height:8px;
  background: #3f2b63;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 180px;
  right:360px;
  transform: rotate(20deg);
  animation: wiggle-r2 2s infinite;
}

@keyframes wiggle-r2 {
    0% { transform: rotate(20deg); }
   40% { transform: rotate(10deg); }
   75% { transform: rotate(5deg); }
  100% { transform: rotate(20deg); }


#rectangle-original {
        width: 150px;
        height: 150px;
        background: red;
        border-radius: 50px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);

        /* position the circle in the center of the flag */
        position: absolute;
        top: 75px;
        left: 175px;
}
