


/* make the background of the page black */
body {
        background: white;
          animation: pulse 5s infinite;
          animation-direction: alternate;
          animation-duration: 4000ms;
          animation-timing-function: ease-in-out;

        }



/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
        margin-left: auto;
        margin-right: auto;
        margin-top:250px;
}

img{
  position: relative;
  z-index: 1;
  top:-25px;
  left:60px;
  width:350px;
  animation: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(90deg);
    }
}

/* shapes */

#top {
  width: 500px;
  height:150px;
  background: #0038a8;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 0px;
  animation:change-bg-color-1;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes change-bg-color-1 {
    from {
        background-color: #0038a8;
    }
    to {
        background-color: #ce1126;
    }
}

#star-1{
  width: 32px;
  height:32px;
  position: absolute;
  top:20px;
  left:125px;
  background:#fcd116;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: spin-star;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin-star {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

#star-2{
  width: 32px;
  height:32px;
  position: absolute;
  top:133px;
  left:365px;
  background:#fcd116;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: spin-star;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#star-3{
  width: 32px;
  height:32px;
  position: absolute;
  top:250px;
  left:125px;
  background:#fcd116;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: spin-star;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#bottom {
  width: 500px;
  height:150px;
  background: #ce1126;
  position: absolute;
  bottom: 0px;
  animation:change-bg-color-2;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes change-bg-color-2 {
    from {
        background-color: #ce1126;
    }
    to {
        background-color: #0038a8;
    }
}


#center {
  width: 300px;
  height:300px;
  background: white;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  position: absolute;
  left:120px;


}
